<launch>

  <arg name="bridge_addr"            default="10.0.10.120"/>
  <arg name="bridge_port"            default="32603"/>
  <arg name="phone_number"           default="+351913431349"/>
  <arg name="max_depth"              default="7.0"/>
  <arg name="mission_length"         default="21600"/>
  <arg name="starting_position_lat"  default="41.13414495"/>
  <arg name="starting_position_lon"  default="-8.69769872"/>
  <arg name="desired_speed"          default="1.2"/>
  <arg name="seconds_on_surface"     default="90" />
  <arg name="iridium_destination"    default="manta-21"/>
  <arg name="popup_interval"         default="360"/> 
  <arg name="river_salinity"         default="34.5"/>
  <arg name="ocean_salinity"         default="35.5"/>

  <node pkg="imc_ros_interface" type="bridge_node" name="imc_bridge" output="screen">
    <param name="bridge_addr"         value="$(arg bridge_addr)"/>
    <param name="bridge_port"         value="$(arg bridge_port)"        type="str"/>
  </node>

  <node pkg="adaframe_examples" output="screen" type="douro_river.py" name="douro_river" >
    <param name="phone_number"          value="$(arg phone_number)"   type="str"/>
    <param name="max_depth"             value="$(arg max_depth)"         />
    <param name="mission_length"        value="$(arg mission_length)"    />
    <param name="starting_position_lat" value="$(arg starting_position_lat)" />
    <param name="starting_position_lon" value="$(arg starting_position_lon)" />
    <param name="desired_speed"         value="$(arg desired_speed)" />
    <param name="seconds_on_surface"    value="$(arg seconds_on_surface)" />
    <param name="iridium_destination"   value="$(arg iridium_destination)"/>
    <param name="popup_interval"        value="$(arg popup_interval)" />
    <param name="river_salinity"        value="$(arg river_salinity)" />
    <param name="ocean_salinity"        value="$(arg ocean_salinity)" />
  </node>

</launch>
