# Ignore DS system file
.DS_store
.idea
.gitignore
.git

Adaptive_script/samples_2020.05.01.nc
Adaptive_script/Porto/Onboard/Sigma_sal.txt
Adaptive_script/Porto/Onboard/Sigma_sal.txt

Adaptive_script/master.zip

Adaptive_script/__pycache__/
